/* Will be compiled down to a single stylesheet with your sass files */

body > div.container {
	padding-top: 15px;
}

ul.nav li div.google-login {
	border: 2px solid #2c3e50;
	border-top: none;
	padding: 11px 20px 6px;
}

.centered {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	float: none !important;
}

.text-centered {
	text-align: center;
}

div.logo-header div.logo-img {
	margin-right: 20px;
	background-size: 128px;
	width: 128px;
	height: 128px;
	background-image: url(../images/logo.png);
}

div.logo-header h1.demo-panel-title span{
	font-size: 64px;
}

div.logo-header h1.demo-panel-title small{
	position: relative;
	top: -10px;
	font-size: 20px;
}

ul.nav.nav-tabs a {
	text-decoration: none;
}

div.ebooks div.ebook {
	margin-bottom: 20px;
}

div.ebooks h3.tile-title {
	line-height: 22px;
	margin-bottom: 15px;
}