<div class="row">
	<div class="span3">
		<p class="text-centered">
			<img class="img-polaroid" src="/images/default-avatar.png" alt="me">
		</p>
	</div>
	<div class="span8">
		<form class="form-horizontal" ng-submit="processSignup()">
			<fieldset>
				<legend>Edit your profile</legend>
				<div class="control-group">
					<label class="control-label" for="firstname">Firstname</label>
					<div class="controls">
						<input type="text" class="span3" id="firstname" ng-model="client.firstname" placeholder="Yacine" required pattern=".{2,}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="lastname">Lastname</label>
					<div class="controls">
						<input type="text" class="span3" id="lastname" ng-model="client.lastname" placeholder="Rezgui" required pattern=".{2,}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input type="email" class="span3" id="email" ng-model="client.email" placeholder="da@fu.ck" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input type="password" class="span3" id="password" ng-model="client.password" placeholder="*******" pattern=".{4,}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="url">Photo (URL)</label>
					<div class="controls">
						<input type="url" class="span4" id="url" ng-model="client.url">
					</div>
				</div>
				<button class="btn btn-primary offset2">Signup</button>
			</fieldset>
		</form>
	</div>
</div>