<div class="row">
	<div class="span3">
		<p class="text-centered">
			<img class="img-polaroid" ng-src="{{ client.photo || '/images/default-avatar.png' }}" alt="me">
		</p>
	</div>
	<div class="span8">
		<form class="form-horizontal" ng-submit="processEdit()">
			<fieldset>
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#/account">Profile</a>
					</li>
					<li>
						<a href="#/invoices">Invoices</a>
					</li>
				</ul>
				<div class="control-group">
					<label class="control-label" for="firstname">Firstname</label>
					<div class="controls">
						<input type="text" class="span3" id="firstname" ng-model="client.firstname" required pattern=".{2,}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="lastname">Lastname</label>
					<div class="controls">
						<input type="text" class="span3" id="lastname" ng-model="client.lastname" required pattern=".{2,}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input type="email" class="span3" id="email" ng-model="client.email" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input type="password" class="span3" id="password" ng-model="client.password" placeholder="*******" pattern=".{4,}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="photo">Photo (URL)</label>
					<div class="controls">
						<input type="url" class="span4" id="photo" ng-model="client.photo" onerror="imageError()">
					</div>
				</div>
				<button class="btn btn-primary offset2" ng-disabled="isClean()">Save</button>
			</fieldset>
		</form>
	</div>
</div>