<div class="hero-unit">
	<h1>Flouss</h1>
	<br>
	<br>
	<p><b>Flouss</b> is a demo of paid content management system.</p>
	<p>It uses <i>Stripe</i>, <i>Pusher</i> and <i>Amazon</i> APIs.</p>
	<p>It's proudly powered by <i>NodeJS</i>, <i>AngularJS</i> and <i>MongoDB</i> (full stack JS).</p>
	<br>
	<p>It's just shows how it's easy to make a little ecommerce website with all these technologies.</p>
	<p>This project is a simple demo. There are many security issues but it's not the goal of this project.</p>

	<h3>Enjoy coding! - <a href="http://www.yrezgui.com">Yacine Rezgui</a></h3>
</div>
