<div class="row">
	<div class="span3">
		<p class="text-centered">
			<img class="img-polaroid" ng-src="{{ client.photo || '/images/default-avatar.png' }}" alt="me">
		</p>
	</div>
	<div class="span8">
		<ul class="nav nav-tabs">
			<li>
				<a href="#/account">Profile</a>
			</li>
			<li class="active">
				<a href="#/invoices">Invoices</a>
			</li>
		</ul>
		<div class="ebooks invoices">
			<div class="media" ng-repeat="invoice in invoices">
				<a class="pull-left" href="#/invoice/{{invoice._id}}">
					<img class="media-object" ng-src="{{invoice.ebook.icon}}">
				</a>
				<div class="media-body">
					<h4 class="media-heading">{{invoice.ebook.title}}</h4>
					{{invoice.ebook.description}}
				</div>
			</div>
		</div>
	</div>
</div>
<div style="position: fixed; top: 220px; right: 2%;">
	<div class="tooltip-inner">
		<b>New purchase !</b>
		<br>
		<small>2x Smart eye in startups economy</small>
	</div>
	<div class="tooltip-inner">
		<b>New purchase !</b>
		<br>
		<small>5x Become a ninja with AngularJS</small>
	</div>
	<div class="tooltip-inner">
		<b>New purchase !</b>
		<br>
		<small>1x Yahoo! is back</small>
	</div>
</div>