<div class="row">
	<div class="span3">
		<p class="text-centered">
			<img class="img-polaroid" ng-src="{{ client.photo || '/images/default-avatar.png' }}" alt="me">
		</p>
	</div>
	<div class="span8">
		<ul class="nav nav-tabs">
			<li>
				<a href="#/account">Profile</a>
			</li>
			<li class="active">
				<a href="#/invoices">Invoices</a>
			</li>
		</ul>
		<div class="files">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" style="width: 64px; height: 64px;" src="http://cdn1.iconfinder.com/data/icons/metro-ui-icon-set/128/File_-_Google_Docs.png">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
		</div>
	</div>
</div>
<div style="position: fixed; top: 220px; right: 2%;">
	<div class="tooltip-inner">
		<b>New purchase !</b>
		<br>
		<small>2x Smart eye in startups economy</small>
	</div>
	<div class="tooltip-inner">
		<b>New purchase !</b>
		<br>
		<small>5x Become a ninja with AngularJS</small>
	</div>
	<div class="tooltip-inner">
		<b>New purchase !</b>
		<br>
		<small>1x Yahoo! is back</small>
	</div>
</div>